@model PersonWebsite.Models.Person
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <header>
        <h1>Edit the person!</h1>
    </header>

    <form asp-controller="people" asp-action="edit">
        <label asp-for="Name"></label>
        <input asp-for="Name" value="@(Model.Name)" />
        <br />
        <label asp-for="Email"></label>
        <input asp-for="Email" value="@(Model.Email)" />
        <br />
        <input type="submit" value="Edit" />
    </form>



</body>
</html>
