@model PersonWebsite.Models.PeopleIndexVM[]
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>All the people</title>
    <link href="~/bootstrap.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>

    <h1>All the people!</h1>

    <table>
        @foreach (var person in @Model)
        {
            <tr>
                <td>@person.Name  @person.Email </td>
                <td><a asp-controller="people" asp-action="edit" asp-route-id="@(person.Id)">Edit</a></td>
                @if (person.ShowAsHighlighted)
                {
    
                    <td style="color:green">Denna är grön</td>
                }
            </tr>
        }
    </table>

</body>
</html>
